/*
.nav-link
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif!important
  font-weight 400!important
*/
#header
  box-shadow 0 5px 20px rgba(0,0,0,0.03), 0 4px 6px rgba(0,0,0,0.05)
  .header-wrapper
    opacity 0.6

div[class^='language-']:before
  content '' !important

.content-wrapper
  // 78 + 62<footer>
  padding 110px 15px 55px 15px !important
  min-height calc(100vh - 164px)

.vuepress-toc
  width 220px
  padding-top 110px !important
  right 36px

@media (min-width: 959px)
  .vuepress-blog-theme-content
    border-top 6px solid $accentColor
    // border-radius 3px
    box-shadow 0 10px 20px rgba(0,0,0,0.05), 3px 3px 6px rgba(0,0,0,0.07)